@import "normalize.css"

@font-face
  font-family "Roboto"
  src url("./fonts/Roboto-Medium.woff2") format("woff2")
  font-weight 500
  font-style normal
  font-display swap

body
  margin 0
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.container
  display flex
  flex-direction column
  align-items center
  justify-content center
  min-height 100vh

button-text-color = #FFFFFF

.button
  display flex
  max-width 100%
  width fit-content
  height fit-content
  border none
  background #FF7700
  align-items center
  font-family 'Roboto', sans-serif
  font-weight 500
  white-space: nowrap
  overflow hidden
  position relative

  .overlay
    position absolute
    padding 0
    top 0
    left 0
    width 100%
    height 100%
    background-color button-text-color
    opacity 0

  .loader
    position absolute
    margin-inline auto
    inset-inline 0
    inset-block-start 50%
    transform translateY(-50%)
    display none
    z-index 100

  @keyframes shimmer-animation
    from
      left -33%
    to
      left 100%

  .shimmer
    display none

  &.loading
    .label
    .counter
      opacity 0
    .loader
      display block
    .shimmer
      display block
      position absolute
      top 0
      left -33%
      z-index 200
      background-image linear-gradient(90deg, rgba(255, 0, 0, 0), button-text-color, rgba(255, 0, 0, 0));
      opacity 0.12
      width 33%
      height 100%
      animation-name shimmer-animation
      animation-timing-function linear
      animation-duration 1000ms
      animation-iteration-count infinite

  &.size56
    padding 16px
    border-radius 16px
    font-size 17px
    column-gap 8px
    .loader
      width 24px
      height 24px

  &.size36
    padding 8px 12px
    border-radius 12px
    font-size 15px
    column-gap 6px
    .loader
      width 20px
      height 20px

  &.size28
    padding 6px 10px
    border-radius 9.3px
    font-size 13px
    column-gap 4px
    .loader
      width 16px
      height 16px

  .label
    color button-text-color
    text-overflow ellipsis
    overflow: hidden

  .counter
    color button-text-color
    border-radius 12px
    display flex
    align-items center
    justify-content center
    margin-left 8px
    background: #FFFFFF1F
    flex-shrink 0

    &.size24
      min-height 24px
      min-width 24px
      font-size 15px

      .quantity
        padding 0 6px

    &.size20
      min-height 20px
      min-width 20px
      font-size 13px

      .quantity
        padding 0 4px

    &.size16
      min-height 16px
      min-width 16px
      font-size 11px

      .quantity
        padding 0 4px

    &.size12
      width 12px
      height 12px

      .quantity
        display none

    &.size8
      width 8px
      height 8px

      .quantity
        display none

animation-settings()
  -timing-function cubic-bezier(0, -0.3, 0.5, 1.3)
  transition-duration 500 ms

.button:hover
  .label
  .counter
    transform scale(1.05)
    animation-settings()
  .overlay
    opacity 0.12
    animation-settings()

.button:active
  .label
  .counter
    transform scale(0.95)
    animation-settings()
  .overlay
    opacity 0.2
    animation-settings()

.product-card
  display flex
  flex-direction column
  align-items center
  justify-content: space-evenly;
  height fit-content
  width 340px
  background-color #ebebeb
  border-radius 24px
  padding 24px
  margin-bottom 20px
  &:first-child
    margin-top 20px

  & > .button
    margin-bottom 20px
  & > .button:last-child
    margin-bottom 0
