@import "normalize.css";
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.button {
  display: flex;
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  border: none;
  background: #f70;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.button .overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.button.size56 {
  padding: 16px;
  border-radius: 16px;
  font-size: 17px;
  column-gap: 8px;
}
.button.size56 .loader {
  width: 24px;
  height: 24px;
}
.button.size36 {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 15px;
  column-gap: 6px;
}
.button.size36 .loader {
  width: 20px;
  height: 20px;
}
.button.size28 {
  padding: 6px 10px;
  border-radius: 9.3px;
  font-size: 13px;
  column-gap: 4px;
}
.button.size28 .loader {
  width: 16px;
  height: 16px;
}
.button .label {
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button .counter {
  color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  background: rgba(255,255,255,0.122);
  flex-shrink: 0;
}
.button .counter.size24 {
  min-height: 24px;
  min-width: 24px;
  font-size: 15px;
}
.button .counter.size24 .quantity {
  padding: 0 6px;
}
.button .counter.size20 {
  min-height: 20px;
  min-width: 20px;
  font-size: 13px;
}
.button .counter.size20 .quantity {
  padding: 0 4px;
}
.button .counter.size16 {
  min-height: 16px;
  min-width: 16px;
  font-size: 11px;
}
.button .counter.size16 .quantity {
  padding: 0 4px;
}
.button .counter.size12 {
  width: 12px;
  height: 12px;
}
.button .counter.size12 .quantity {
  display: none;
}
.button .counter.size8 {
  width: 8px;
  height: 8px;
}
.button .counter.size8 .quantity {
  display: none;
}
.button:hover .label,
.button:hover .counter {
  transform: scale(1.05);
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:hover .overlay {
  opacity: 0.12;
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:active .label,
.button:active .counter {
  transform: scale(0.95);
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:active .overlay {
  opacity: 0.2;
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 340px;
  background-color: #ebebeb;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 20px;
}
.product-card:first-child {
  margin-top: 20px;
}
.product-card > .button {
  margin-bottom: 20px;
}
.product-card > .button:last-child {
  margin-bottom: 0;
}
