@import "normalize.css";
@import "live-indicator.css";
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.demo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 340px;
  background-color: #ebebeb;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 20px;
}
.demo-card:first-child {
  margin-top: 20px;
}
.demo-card > .button {
  margin-bottom: 20px;
}
.demo-card > .button:last-child {
  margin-bottom: 0;
}
.button {
  display: flex;
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  border: none;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.button.primary {
  background: #f70;
}
.button.primary .overlay {
  background-color: #fff;
}
.button.primary .shimmer {
  background-image: linear-gradient(90deg, rgba(255,0,0,0), #fff, rgba(255,0,0,0));
}
.button.primary .label {
  color: #fff;
}
.button.primary .red-dot,
.button.primary .pulse {
  background-color: rgba(255,255,255,0.2);
}
.button.secondary {
  background: rgba(131,102,86,0.122);
}
.button.secondary .overlay {
  background-color: #2e2f33;
}
.button.secondary .shimmer {
  background-image: linear-gradient(90deg, rgba(255,0,0,0), #2e2f33, rgba(255,0,0,0));
}
.button.secondary .label {
  color: #2e2f33;
}
.button.secondary .loader {
  filter: brightness(0) invert(0%) sepia(0%) saturate(27%) hue-rotate(102deg) brightness(103%) contrast(106%);
}
.button.secondary .red-dot,
.button.secondary .pulse {
  background-color: rgba(46,47,51,0.2);
}
.button .overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.button .loader {
  position: absolute;
  margin-inline: auto;
  inset-inline: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 100;
}
.button .shimmer {
  display: none;
}
.button.loading .label,
.button.loading .counter {
  opacity: 0;
}
.button.loading .loader {
  display: block;
}
.button.loading .shimmer {
  display: block;
  position: absolute;
  top: 0;
  left: -33%;
  z-index: 200;
  opacity: 0.12;
  width: 33%;
  height: 100%;
  animation-name: shimmer-animation;
  animation-timing-function: linear;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
.button.disabled {
  opacity: 0.36;
}
.button.size56 {
  padding: 16px;
  border-radius: 16px;
  font-size: 17px;
  line-height: 24px;
  column-gap: 8px;
}
.button.size56 .loader {
  width: 24px;
  height: 24px;
}
.button.size36 {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 15px;
  line-height: 20px;
  column-gap: 6px;
}
.button.size36 .loader {
  width: 20px;
  height: 20px;
}
.button.size28 {
  padding: 6px 10px;
  border-radius: 9.3px;
  font-size: 13px;
  line-height: 16px;
  column-gap: 4px;
}
.button.size28 .loader {
  width: 16px;
  height: 16px;
}
.button .label {
  text-overflow: ellipsis;
  overflow: hidden;
}
.button .live-indicator {
  display: none;
}
.button.pulse .counter {
  display: none;
}
.button.pulse .live-indicator {
  display: block;
}
.button .counter {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  flex-shrink: 0;
}
.button .counter.primary {
  color: #fff;
  background: rgba(255,255,255,0.12);
}
.button .counter.secondary {
  color: #2e2f33;
  background: rgba(46,47,51,0.12);
}
.button .counter.size24 {
  min-height: 24px;
  min-width: 24px;
  font-size: 15px;
}
.button .counter.size24 .quantity {
  padding: 0 6px;
}
.button .counter.size20 {
  min-height: 20px;
  min-width: 20px;
  font-size: 13px;
}
.button .counter.size20 .quantity {
  padding: 0 4px;
}
.button .counter.size16 {
  min-height: 16px;
  min-width: 16px;
  font-size: 11px;
}
.button .counter.size16 .quantity {
  padding: 0 4px;
}
.button .counter.size12 {
  width: 12px;
  height: 12px;
}
.button .counter.size12 .quantity {
  display: none;
}
.button .counter.size8 {
  width: 8px;
  height: 8px;
}
.button .counter.size8.stroke {
  border: var(--border-widthbasecutoutouter-size-1-11);
}
.button .counter.size8 .quantity {
  display: none;
}
.button .counter.size24.stroke,
.button .counter.size20.stroke,
.button .counter.size16.stroke,
.button .counter.size12.stroke {
  border: var(--border-widthbasecutoutouter-size-12);
}
@-moz-keyframes shimmer-animation {
  from {
    left: -33%;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes shimmer-animation {
  from {
    left: -33%;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes shimmer-animation {
  from {
    left: -33%;
  }
  to {
    left: 100%;
  }
}
@keyframes shimmer-animation {
  from {
    left: -33%;
  }
  to {
    left: 100%;
  }
}
.button:not(.disabled):hover .label,
.button:not(.disabled):hover .counter {
  transform: scale(1.05);
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:not(.disabled):hover .overlay {
  opacity: 0.12;
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:not(.disabled):active .label,
.button:not(.disabled):active .counter {
  transform: scale(0.95);
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:not(.disabled):active .overlay {
  opacity: 0.2;
  -timing-function: cubic-bezier(0, -0.3, 0.5, 1.3);
  transition-duration: 500ms;
}
.button:focus-visible {
  outline: none;
}
.button.enabled:focus-visible {
  outline: 3px solid #09f;
}
